@use "../../scss/mixins" as mixin;

.extensionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  margin-bottom: 6rem;

  @include mixin.tablet {
    max-width: 90%;
    margin: auto;

    h2 {
      text-align: center;
    }
  }

  .extensionP {
    width: 38%;
    text-align: center;

    @include mixin.tablet {
      width: 100%;
    }
  }

  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 380px;

    @include mixin.tablet {
      flex-direction: column;
      gap: 5rem;
      height: initial;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 0 2rem 0;
      row-gap: 2rem;
      border-radius: 12px;
      background-color: var(--bg-card);
      box-shadow: var(--shadow-card);

      &:nth-child(1) {
        transform: translateY(-35px);

        @include mixin.tablet {
          transform: translateY(0);
        }
      }

      &:nth-child(3) {
        transform: translateY(35px);

        @include mixin.tablet {
          transform: translateY(0);
        }
      }

      p {
        font-size: 1.5rem
      }
    }
  }
}

