@use "../../scss/mixins" as mixin;

.joinSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
  padding: 5rem 0 5rem 0;
  background-color: var(--bg-join);

  p {
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  h2 {
    max-width: 500px;
    text-align: center;
    color: white;
  }

  div {
    @include mixin.tablet {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      margin: auto;
      width: 90%;
    }

    input {
      @include mixin.tablet {
        width: 100%;
      }
    }

    button {
      margin-left: 10px;

      @include mixin.tablet {
        width: 100%;
        margin-left: 0;

      }
    }
  }
}