@use "scss/mixins" as mixin;

main {
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
  margin: auto;
  background-color: var(--background);
  transition: background-color 250ms ease-in-out;

  @include mixin.tablet {
    row-gap: 14rem;
  }
}